
set_io clk_100mhz 49

set_io led1 110
set_io led2  93
set_io led3  94

set_io sram_ce   24
set_io sram_we   11
set_io sram_oe   76
set_io sram_lb   81
set_io sram_ub   75
set_io sram_a0   34
set_io sram_a1   33
set_io sram_a2   32
set_io sram_a3   31
set_io sram_a4   25
set_io sram_a5   10
set_io sram_a6    9
set_io sram_a7    4
set_io sram_a8    3
set_io sram_a9    2
set_io sram_a10 107
set_io sram_a11 106
set_io sram_a12 105
set_io sram_a13 104
set_io sram_a14 102
set_io sram_a15  62
set_io sram_a16  60
set_io sram_a17  61
set_io sram_a18  98
set_io sram_d0   23
set_io sram_d1   22
set_io sram_d2   19
set_io sram_d3   18
set_io sram_d4   17
set_io sram_d5   16
set_io sram_d6   15
set_io sram_d7   12
set_io sram_d8   97
set_io sram_d9   96
set_io sram_d10  95
set_io sram_d11  91
set_io sram_d12  84
set_io sram_d13  82
set_io sram_d14  83
set_io sram_d15  80

set_io gpio_0  141
set_io gpio_1  139
set_io gpio_2  138
set_io gpio_3  137
set_io gpio_4  136
set_io gpio_5  135
set_io gpio_6  134
set_io gpio_7  130
set_io gpio_8   55
set_io gpio_9   56
set_io gpio_10  47
set_io gpio_11  48
set_io gpio_12  44
set_io gpio_13  45
set_io gpio_14  42
set_io gpio_15  43
set_io gpio_16  41
set_io gpio_17  39
set_io gpio_18  38
set_io gpio_19  37
set_io gpio_20   1
set_io gpio_21 144
set_io gpio_22 143
set_io gpio_23 142
set_io gpio_24  21
set_io gpio_25  20
set_io gpio_26   8
set_io gpio_27   7
set_io gpio_28  26
set_io gpio_29  29
set_io gpio_30  28
set_io gpio_31  52

